
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-blue: #243c54;
    --blue: #344e6c;
    --gray-blue: #617d88;
    --light-blue: #b6d6d2;
    --light: #f4dcbb;
    --accent: #3ce3b4;

}
/* NAVBAR START */
.navbar.bg-navbar{
background-color: var(--dark-blue) !important;

}

.navbar-toggler{
    border: transparent !important;
}

.navbar-toggler-icon{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28182, 214, 210, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar.navbar-expand-lg{
    
    --bs-navbar-color: var(--light-blue) !important;
    --bs-navbar-hover-color:var(--accent) !important;
}

.navbar img{
    width: 150px;
}

/* NAVBAR END */

/* SHOWCASE START */

.showcase{
    background-image:url(../Images/showcase-background.bmp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--light);
}

.showcase-shadow{
    background-color: rgb(0 0 0 / 0.5) !important;
    width: 100% !important;
    height: 100% !important;
}

.showcase-flex{
width: 80%;
height: 100%;
margin: 0 auto;
display: flex;
justify-content: flex-end !important;
align-items: flex-end !important;
}

.showcase-content{
    width: 50%;
    text-align: right;
    margin-bottom: 20vh;
}

/* SHOWCASE END */

/* PROJECTS START */

.projects-title{
    text-align: center;
    padding: 2rem;
}

.projects-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects-cards{
    width: 30%;
    min-width: 200px;
    border: #617d8870 1px solid;
}

.projects-cards img{
width: 100%;
}

.projects-cards :not(img){
    padding: 0rem 1rem ;
}

.projects-cards p{
    margin-bottom: 1rem;
}

.projects-label{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content:flex-start;
}

.projects-label h6{
font-size:0.7rem;
font-weight: 700;
padding: 0.2rem;
margin-right: 0.5rem;
margin-bottom: 0.5rem;
}

.projects-label h3{
    font-weight: 700;
}

.red-label{
    background-color: red;
    border-radius: 5px;
    color: white;
}

.green-label{
background-color: green;
border-radius: 5px;
color: white;
}

.yellow-label{
    background-color: yellow;
    border-radius: 5px;
}

.blue-label{
    background-color: blue;
    border-radius: 5px;
    color: white;
}

.orange-label{
    background-color: orange;
    border-radius: 5px;
}

.lightgreen-label{
    background-color: greenyellow;
    border-radius: 5px;
}

.pink-label{
    background-color: pink;
    border-radius: 5px;
}
/* PROJECTS END */